{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="bg-light">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
          <h1 class="display-4  wow bounceInUp" style="font-weight: bold;">WELCOME TO DIGNIZANT TECHNOLOGIES</h1>
          <p class="lead  mb-0  wow bounceInUp" style=" color: gray ; font-weight: bold;">
          We welcome you at our official website. Here you can find everything about digizant. Here you can find all great minds under one roof. Our team is highly adaptive and responsive to the newest technology and changing requirements. We have professionals who know exactly what is required for your business to grow. We pay high attention to all the factors that can be a game changer for your business. High quality deliverables have always been our main focus. The market is growing day by day, new technologies are becoming part of the market so we make sure that whatever we deliver will help you grow rapidly.</p>
        </p>
        </div>
        <div class="col-lg-6 d-none d-lg-block  wow bounceInUp"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png" alt="" class="img-fluid"></div>
      </div>
    </div>
  </div>
  
  <div class="bg-white py-5">
    <div class="container py-5">
      <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
          <h2  class=" wow bounceInUp" style="font-weight: bold;">Our Mission</h2>
          <p class=" wow bounceInUp lead  mb-0" style=" color: gray ; font-weight: bold;">To make you our next satisfied client through our high-end quality services.
            To make business management easy for our clients.
            To bring the change by continuously adopting best industry practices and standards.
            To create impact in the life of our employees and bring the most out of their potential by giving equal growth opportunities to everyone.</p>
        </div>
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834139/img-1_e25nvh.jpg" alt="" class=" wow bounceInUp img-fluid mb-4 mb-lg-0"></div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-5 px-5 mx-auto"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/img-2_vdgqgn.jpg" alt="" class="  wow bounceInUp img-fluid mb-4 mb-lg-0"></div>
        <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
          <h2 class = " wow bounceInUp" style="font-weight: bold; ">OUR VISION</h2>
          <p class="lead  mb-0  wow bounceInUp" style=" color: gray ; font-weight: bold;">
            Our vision is to emerge as a leading IT company through our innovative solutions. Our motive is to empower the life of every individual connected with us and to be the most admired company of the era. As an IT company we want to be part of this growing digital world by crafting healthy experiences for our clients.
      
      </p>
        </div>
    </div>
  </div>
  
  <div class="bg-light py-5">
    <div class="container py-5">
      <div class="row mb-4">
        <div class="col-lg-5">
          <h6 class="display-4 font-weight-bold text-gray gray  wow bounceInUp" style="font-size: 2.3rem !important; color: gray">Meet Our CEO :</h6>
          <p class="font-italic text-bold  wow bounceInUp">To make Better Choose Better !</p>
        </div>
      </div>
  
      <div class="row text-center">
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src= "{% static 'images/ceo.png' %}" alt="" width="100" class="img-fluid  wow bounceInUp rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0  wow bounceInUp">Haresh Vavdiya</h5><span class="small text-gray text-uppercase text-bold">CEO - Founder</span>
            <div class="footer-social">
                <a href="#"><span class="icon-facebook"></span></a>
                <a href="#"><span class="icon-twitter"></span></a>
                <a href="#"><span class="icon-instagram"></span></a>
                <a href="#"><span class="icon-linkedin"></span></a>
              </div>
          </div>
        </div>
        <!-- End-->
  
      </div>
    </div>
  </div>
{% endblock %}